avro-python3==1.9.2.1
babel==2.12.1
cached-property==1.5.2
chardet==3.0.4
colorama==0.4.6
colorlog==4.0.2
configparser==3.5.3
croniter==0.3.37
email-validator==1.3.1
funcsigs==1.0.2
future==0.18.3
google-cloud-bigquery-storage==2.13.2
google-cloud-bigtable==1.0.0
google-cloud-datastore==1.8.0
google-cloud-dlp==3.0.1
google-cloud-language==1.3.2
google-cloud-pubsublite==1.4.2
google-cloud-recommendations-ai==0.7.1
google-cloud-spanner==1.13.0
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
graphviz==0.20.1
grpcio-gcp==0.2.2
gunicorn==20.1.0
importlib-resources==1.5.0
iso8601==1.1.0
itsdangerous==1.1.0
json-merge-patch==0.2
keras-preprocessing==1.1.2
lazy-object-proxy==1.4.3
mako==1.2.4
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
mock==2.0.0
pendulum==1.4.4
pip-chill==1.0.3
pipreqsnb==0.2.4
prison==0.2.1
pyjwt==1.7.1
python-daemon==3.0.1
python-nvd3==0.15.0
python-snappy==0.6.1
python3-openid==3.2.0
qtconsole==5.4.3
setproctitle==1.3.2
sqlalchemy-jsonfield==0.9.0
sqlalchemy-utils==0.40.0
stack-data==0.6.3
struct2tensor==0.44.0
tabulate==0.8.10
tenacity==4.12.0
tensorboard-plugin-wit==1.8.1
testpath==0.6.0
tfx==1.13.0
thrift==0.16.0
unicodecsv==0.14.1
wtforms==3.0.1
zope.deprecation==4.4.0
nbformat==5.9.2
notebook==6.5.5
jupyter_server==2.9.1
jupyter-events==0.6.3
grpcio==1.53.2
grpcio-status==1.48.2
jupyterlab-widgets==1.1.7
jupyterlab_pygments==0.3.0
nbformat==5.9.2
jsonschema==3.2.0
tensorflow==2.12.1
tensorboard==2.12.3
google-api-core==1.32.0
google-auth==1.35.0
google-cloud-pubsub==2.1.0

